openapi: 3.0.0
info:
  title: ServiceNow API
  description: ServiceNow API
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/servicenow-api
servers:
  - url: https://api.oregonstate.edu/v1
security:
  - OAuth2:
      - full
paths:
  /servicenow/common-matching:
    get:
      summary: Get common matching routine results
      tags:
        - common-matching
      description: Get common matching results
      operationId: getCommonMatching
      parameters:
        - in: query
          name: filter[lastName]
          description: Last name of person to match
          required: true
          schema:
            type: string
        - in: query
          name: filter[firstName]
          description: First name of person to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[middleName]
          description: Middle name of person to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[streetLine1]
          description: First line of the address to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[city]
          description: City of the address to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[stateCode]
          description: State code of the address to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[zip]
          description: Zip code of the address to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[nationCode]
          description: Nation/Country code of the address to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[ssn]
          description: Social Security Number, Social Insurance Number or Tax Identification Number to match
          required: false
          schema:
            type: string
        - in: query
          name: filter[birthDay]
          description: Day of birth to match
          required: false
          schema:
            type: string
            pattern: '^\d{2}$'
        - in: query
          name: filter[birthMonth]
          description: Month of birth to match
          required: false
          schema:
            type: string
            pattern: '^\d{2}$'
        - in: query
          name: filter[birthYear]
          description: Year of birth to match
          required: false
          schema:
            type: string
            pattern: '^\d{4}$'
        - in: query
          name: filter[sex]
          description: Gender to match. M - Male, F - Female, N - Unknown
          required: false
          schema:
            type: string
            enum: [M, F, N]
        - in: query
          name: filter[email]
          description: The e-mail address to match
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonMatchingSetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.oregonstate.edu/oauth2/token
          scopes:
            full: Full access to the API
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '409':
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
  schemas:
    SelfLink:
      properties:
        self:
          type: string
          format: uri
          description: Self-link of current resource
    CommonMatchingResource:
      properties:
        id:
          type: string
          description: A unique ID of common matching result
        type:
          type: string
          enum:
            - common-matching
        links:
          $ref: '#/components/schemas/SelfLink'
        attributes:
          properties:
            osuId:
              type: string
              description: Matched OSU ID if any
              pattern: '^\d{9}$'
              example: '987654321'
            matchingInd:
              type: string
              description: |
                Matching indicator.
                M - Match, N - No Match, S - Suspended because multiple matches.
              enum: [M, N, S]
              example: M
    CommonMatchingSetResult:
      properties:
        links:
          allOf:
            - $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommonMatchingResource'
    ErrorObject:
      properties:
        status:
          type: string
          description: HTTP status code
          example: '123'
        title:
          type: string
          description: A short, user readable summary of the error
          example: Not Found
        code:
          type: string
          description: An application-specific error code
          example: '1234'
        detail:
          type: string
          description: A long description of the error that may contain instance-specific
            details
        links:
          properties:
            about:
              type: string
              format: uri
              description: A link to further information about the error
              example: https://developer.oregonstate.edu/documentation/error-reference#1234
    ErrorResult:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
